<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CMS2022ENG.Properties.Settings.CMS2022ENGConnectionString" connectionString="Data Source=K07R106PC11\SQLEXPRESS;Initial Catalog=CMS2022ENG;User ID=student;Password=student" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
